@media (max-width:1440px) {
    .bgp{
        visibility: hidden;
    }
}

@media (max-width:767px) {

    .logo{
        margin: 0px auto;
        text-align: center;
    }

    .content{
        margin: 80px auto;
    }

    .main-nav{
        display: none;
    }

    .contact-icons{
        display: none;
    }

    .features{
        display: block;
    }

    .feature:not(:first-child){
        margin-top: 30px;
    }

    .footer-nav{
        display: contents;
    }

    .footer-nav-ul{
        margin-top: 20px;
        padding: 0;
        padding-bottom: 20px;
        display: block;
    }

    .footer-logo{
        display: none;
    }

    .footer-contacts{
        margin: 0px auto;
    }

    footer{
        height: auto;
    }

    .ending{
        display: block;
    }

    .review-p{
        width:80%;
    }

    .reviewer-name{
        width:100%;
    }

    .review-img{
        width:100%;
        height: auto;
    }

    .review{
        margin: 0px auto;
        width: 100%;
    }
}

@media (max-width:1200px){

    .bgp{
        display: none;
    }

    .logo{
        margin-top: 6.2%;
        margin-left: 5%;
        flex: 1;
    }

    nav{
        margin-top: 5%;
        padding: 0;
        display: flex;
    }

    ul{
        flex: 1;
    }

    li{
    margin: 0;
    }

    .social-proof-section{
        display: block;
        width: 90%;
    }

    .features{
        width:80%;
    }

    .contact-icons{
        
        margin-top: 6.2%;
        margin-right: 5%;
        flex: 1;
    }

    .contact-icon:not(:last-child){
        margin-right: 0px;
    }

    .pumpkin-types{
        display: block;
    }

    .pumpkin-types-left{
        margin: 0px auto;
        width: 90%;
    }

    .pumpkin-types-right{
        display: block;
        width:90%;
        text-align: center;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
    }

    .types-img{
        max-width: 400px;
        width:85%;
        height:auto;
    }

    .types-img:not(:last-child)
    {
        margin-right: 0;
    }

}