.features-section{
    margin: 0px auto;
}

.features{
    display: flex;
    width: 65%;
    margin: 30px auto;
}

.feature{
    flex: 1;
}

.feature:not(:last-child)
{
    margin-right: 135px;
}

.feature-header{
    display: flex;

    vertical-align: center;
}

.feature-p{
    margin: -10px 0;
    padding: 0;
}

h4{
    margin-left: 5px;
}

.pumpkin-types{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 40px;
    width: 90%;
    display: flex;
}

.pumpkin-types-left{
    flex: 1 25%;
    margin-right: 50px;
}

.feature-h4{
    margin: 0;
}

.gallery
{
    flex: 1 75%;
    display: flex;
    text-align: center;
    margin: auto auto;
}

.thumbnail
{
    cursor: pointer;
    flex: 1 75%;
    text-align: center;
}

.popup{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding-top: 5%;
}

.popup-content {
    display: block;
    margin: auto auto;
    max-width: 80%;
    max-height: 80%;
}

.glr{
    margin-top: 100;
}

.close {
    color: #fff;
    font-size: 30px;
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
}

.pumpkin-types-right{
    flex: 1 75%;
    text-align: center;
}

.types-img{
    width: 240px;
    height: 160px;
}

.types-img:not(:last-child){
   
    padding: 0;
    margin-right: 30px;
    margin-left: 0;
}

hr{
    border-color: #C1A984;
}