.social-proof-section{
    width: 75%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 60px;
}

.review{
    width: 400px;
    margin: 0px auto;
}

.review-img{
    width: 400px;
    height: 500px;
    margin: 0;
    padding: 0;
}

.reviewer-name{
    font-size: 16px;
    font-weight:600;
    margin-bottom: 8px;
}

.review-p{
    font-size: 22px;
}